<div>
    <div class="hidden md:block">
        <div class="grid grid-cols-2 justify-items-center gap-4">
            <button routerLink="/dashboard"
                class="bg-slate-700 rounded-lg h-80 w-full flex items-center justify-center text-3xl dashboard-cards-theme transform transition-transform duration-300 hover:scale-95"><mat-icon
                    class="me-4 flex items-center">dashboard</mat-icon>Dashboard</button>
            <button routerLink="/panel"
                class="hover_button_card bg-slate-700 rounded-lg h-80 w-full flex items-center justify-center text-3xl dashboard-cards-theme transform transition-transform duration-300 hover:scale-95"><mat-icon
                    class="me-4 flex items-center">air</mat-icon>Panel AQ</button>
            <button
                class="bg-slate-700 rounded-lg h-80 w-full flex items-center justify-center text-3xl dashboard-cards-theme transform transition-transform duration-300 hover:scale-95"><mat-icon
                    class="me-4 flex items-center">history</mat-icon>History</button>
            <button href="localhost:3000/docs"
                class="bg-slate-700 rounded-lg h-80 w-full flex items-center justify-center text-3xl dashboard-cards-theme transform transition-transform duration-300 hover:scale-95"><mat-icon
                    class="me-4 flex items-center">api</mat-icon>Documentation</button>
        </div>
    </div>
    <app-home-content></app-home-content>
</div>