<div class="sm:h-screen flex flex-col xl:flex-row justify-between p-4">
  <div>
    <h1>Panel de Calidad del Aire</h1>
    <div class="flex sm:flex-row sm:items-center flex-col mt-4 justify-stretch">
      <button matButton="filled" class="sm:w-96" (click)="togglePositionBbox()">mostrar sensores cerca de ti</button>
      <button matButton="filled" class="sm:w-96 sm:ml-5 sm:mt-0 mt-5" (click)="togglePositionDefault()">mostrar todos los sensores</button>
    </div>
    @defer {
    <div class="flex sm:flex-row sm:items-center flex-col mt-4 justify-stretch">
      <mat-form-field class="sm:w-96">
        <mat-label>Selecciona una ubicación</mat-label>
        <mat-select [(ngModel)]="selectedId" (selectionChange)="onSelectId($event.value)">
          <mat-option [value]="null">Ninguno</mat-option>
          @for (elem of elemts(); track elem.id) {
          <mat-option [value]="elem.id">{{ elem.locality }} - {{ elem.name }}</mat-option>
          }
          <mat-label>Favorite food</mat-label>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sm:ml-5 sm:w-96">
        <mat-label>Buscar lugar</mat-label>
        <input type="text" matInput placeholder="Buscar" [matAutocomplete]="auto" [(ngModel)]="inputValue"
          (input)="filter()" />

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectId($event.option.value)">
          @for (e of filteredRes; track e.id) {
          <mat-option [value]="e.id">
            {{ e.locality }} - {{ e.name }}
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    </div>
    }
    @loading (minimum 300ms) {
    <div class="flex justify-center items-center h-24">
      <mat-spinner></mat-spinner>
    </div>
    }
    @error{
    <p>error</p>
    }




    <div class="p-4 rounded-lg fondo_leyenda shadow-sm mt-4">
      <h2 class="text-lg font-semibold mb-2">Parámetros de Calidad del Aire</h2>
      @defer (when selectedId() !==null) { <div class="flex flex-row gap-8">
        @for (param of parameters(); track param.id) {
        <div>
          @for (sensor of param.sensors; track sensor.id) {
          <div class="py-3 pe-5">{{ sensor.name }}</div>
          }
        </div>
        <div>
          @for (measurement of param.measurements; track measurement.id) {
          <div class="py-3">{{ measurement.value }}</div>
          }
        </div>
        }
      </div>
      }
      @loading (minimum 500ms) {
      <ngx-skeleton-loader count="5" appearance="line" size="100px" [theme]="{height: '50px', background: 'black'}" />
      }
      @placeholder {
      <p class="h-auto">selecciona una localidad para empezar</p>
      }
    </div>
  </div>

  <div>
    <div class="rounded-lg fondo_leyenda shadow-sm p-2 mt-5">
      <h3 class="text-lg font-semibold mb-2">Leyenda de Parámetros</h3>
      <ul class="space-y-1 text-sm">
        <li><strong>O₃</strong>: Ozono (µg/m³)</li>
        <li><strong>PM₁₀</strong>: Partículas ≤ 10 µm (µg/m³)</li>
        <li><strong>PM₂.₅</strong>: Partículas ≤ 2.5 µm (µg/m³)</li>
        <li><strong>NO₂</strong>: Dióxido de Nitrógeno (µg/m³)</li>
        <li><strong>NO</strong>: Monóxido de Nitrógeno (µg/m³)</li>
        <li><strong>SO₂</strong>: Dióxido de Azufre (µg/m³)</li>
      </ul>
    </div>
  </div>
</div>