<div class="flex flex-row justify-between items-center p-4">
    <div>
        <h1>Panel de Calidad del Aire</h1>
        @if (elemts.length === 0){
        <div>
            <p><mat-spinner></mat-spinner></p>
        </div>
        }
        @if(elemts.length > 0) {
        <div>
            <mat-form-field class="w-96">
                <mat-label>Select an option</mat-label>
                <mat-select [(ngModel)]="selectedId" (selectionChange)="onSelectId($event.value)">
                    <mat-option>None</mat-option>
                    @for(elem of elemts; track elem.id) {
                    <mat-option [value]="elem.id">{{ elem.locality }} -
                        {{elem.name}}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        }
        <div *ngIf="selectedId !== null" class="p-4 rounded-lg fondo_leyenda shadow-sm">
            <h2 class="text-lg font-semibold mb-2">Parámetros de Calidad del Aire</h2>
            <div class="flex  flex-row">
                @for (param of parameters; track param.id) {
                <div>
                    @for (sensor of param.sensors; track sensor) {
                    <div class="py-3 pe-5">{{ sensor.name }}</div>
                    }
                </div>
                <div>
                    @for(measurements of param.measurements; track measurements.id) {
                    <div class="py-3">{{measurements.value}}</div>
                    }
                </div>
                }
            </div>
        </div>
    </div>
    <div>
        <div class="p-4 rounded-lg fondo_leyenda shadow-sm">
            <h3 class="text-lg font-semibold mb-2">Leyenda de Parámetros</h3>
            <ul class="space-y-1 text-sm">
                <li><strong>O₃</strong>: Ozono (µg/m³)</li>
                <li><strong>PM₁₀</strong>: Partículas ≤ 10 µm (µg/m³)</li>
                <li><strong>PM₂.₅</strong>: Partículas ≤ 2.5 µm (µg/m³)</li>
                <li><strong>NO₂</strong>: Dióxido de Nitrógeno (µg/m³)</li>
                <li><strong>NO</strong>: Monóxido de Nitrógeno (µg/m³)</li>
                <li><strong>SO₂</strong>: Dióxido de Azufre (µg/m³)</li>
            </ul>
        </div>
    </div>
</div>